<div class="flex justify-content-center flex-wrap gap-4">
  <div *ngFor="let item of homeCard">
    <p-card [header]="item.title" [style]="{ width: '500px' }">
      <ng-template pTemplate="header">
          <img [alt]="item.title" [src]="item.img" class="img-card" />
      </ng-template>
      <p>
         {{ item.description }}
      </p>
      <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
              <p-button (onClick)="navegateByUrl(item.route)" label="Ir" class="flex justify-content-end flex-wrap w-full" [severity]="mapSeverity(item.severity)" styleClass="w-4" />
          </div>
      </ng-template>
    </p-card>
  </div>
</div>

