<form class="card" [formGroup]="myForm" (ngSubmit)="saveOrEditInventary">
  <div class="mt-2" *ngIf="isViewInputId">
    <p-floatLabel>
      <p-inputNumber [disabled]="true" formControlName="id" id="nombre" />
      <label for="float-input">Codigo</label>
    </p-floatLabel>
  </div>
  <div class="mt-3">
    <p-floatLabel>
      <input formControlName="nombre" pInputText id="nombre" aria-describedby="nombre-help" />
      <small class="mt-1 text-red-500" id="nombre-help" *ngIf="isValidField('nombre')">
        El campo nombre es requerido*
      </small>
      <label for="float-input">Nombre</label>
    </p-floatLabel>
  </div>
  <div class="mt-3">
    <p-floatLabel>
      <input formControlName="descripcion" pInputText id="descripcion" aria-describedby="descripcion-help" />
      <small class="mt-1 text-red-500" id="descripcion-help" *ngIf="isValidField('descripcion')">
        El campo descripción es requerido*
      </small>
      <label for="float-input">Descripción</label>
    </p-floatLabel>
  </div>
</form>
<div class="mt-4">
  <p-button pRipple label="Guardar" *ngIf="!isViewInputId" (click)="saveOrEditInventary('save')" class="mt-2" [text]="true" />
  <p-button pRipple label="Actualizar" *ngIf="isViewInputId" (click)="saveOrEditInventary('update')" class="mt-2" [text]="true" />
</div>
