<div class="mt-2">
  <!-- <p-toast /> -->
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <h2>Inventario - Productos</h2>
    </ng-template>
    <ng-template pTemplate="right">
      <p-button pRipple label="Nuevo" icon="pi pi-plus" class="mr-2" (click)="openNew()" />
    </ng-template>
  </p-toolbar>
</div>

<div class="mt-4">

  <p-table class="mt-4" #dt [value]="inventaryProducts"
    [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedInventaryProducts" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox />
        </th>
        <th pSortableColumn="id">
          Codigo inventario
          <p-sortIcon field="id" />
        </th>
        <th pSortableColumn="nombre">
          Nombre
          <p-sortIcon field="nombre" />
        </th>
        <th pSortableColumn="categoria" style="min-width:20rem">
          Categoria
          <p-sortIcon field="categoria" />
        </th>
        <th pSortableColumn="cantidad productos" style="min-width:20rem">
          Cantidad productos
          <p-sortIcon field="cantidad productos" />
        </th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-inventaryProduct>
      <tr>
        <td>
          <p-tableCheckbox [value]="inventaryProduct" />
        </td>
        <td>
          {{ inventaryProduct.inventaryId }}
        </td>
        <td>
          {{ inventaryProduct.nombre }}
        </td>
        <td>
          {{ inventaryProduct.categoria }}
        </td>
        <td>
          {{ inventaryProduct.cantidadProductos }}
        </td>
        <td>
          <p-button pRipple icon="pi pi-eye" class="mr-2" [rounded]="true" [outlined]="true" severity="success"
            (click)="navegateProductDetails(inventaryProduct.inventaryId, inventaryProduct.categoriaId)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="card flex justify-content-center">
        <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="pageNumber"
            [rows]="pageSize"
            [totalRecords]="totalRecord"
            [rowsPerPageOptions]="[totalRecord, 10, 20, 30, 40, 50]" />
    </div>
  </ng-template>
  </p-table>

  <p-dialog [(visible)]="inventaryProductDialog" [style]="{ width: '450px' }" [header]="nameModal" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <app-product-form (onNewProducto)="getOnNewProduct()"  />
  </ng-template>

</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" />
</div>
