<form class="card" [formGroup]="myForm" (ngSubmit)="saveOrEditProveedor">
  <div class="mt-2" *ngIf="isViewInputId">
    <p-floatLabel>
      <p-inputNumber [disabled]="true" formControlName="id" id="nombre" />
      <label for="float-input">Codigo</label>
    </p-floatLabel>
  </div>
  <div class="mt-3">
    <p-floatLabel>
      <input formControlName="nombre" pInputText id="nombre" aria-describedby="nombre-help" />
      <small class="mt-1 text-red-500" id="nombre-help" *ngIf="isValidField('nombre')">
        El campo nombre es requerido*
      </small>
      <label for="float-input">Nombre</label>
    </p-floatLabel>
  </div>
  <div class="mt-3">
    <p-floatLabel>
      <input formControlName="email" pInputText id="email" aria-describedby="email-help" />
      <small class="mt-1 text-red-500" id="email-help" *ngIf="isValidField('email')">
        El campo descripción es requerido*
      </small>
      <label for="float-input">Email</label>
    </p-floatLabel>
  </div>
  <div class="mt-3">
    <p-floatLabel>
      <input formControlName="telefono" pInputText id="telefono" aria-describedby="telefono-help" />
      <small class="mt-1 text-red-500" id="telefono-help" *ngIf="isValidField('telefono')">
        El campo descripción es requerido*
      </small>
      <label for="float-input">Telefono</label>
    </p-floatLabel>
  </div>
</form>
<div class="mt-4">
  <p-button pRipple label="Guardar" *ngIf="!isViewInputId" (click)="saveOrEditProveedor('save')" class="mt-2" [text]="true" />
  <p-button pRipple label="Actualizar" *ngIf="isViewInputId" (click)="saveOrEditProveedor('update')" class="mt-2" [text]="true" />
</div>
